@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
.custom-img{
  filter: brightness(70%);
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.custom-img2{
  /* filter: brightness(70%); */
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff00ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  z-index: 40;
  background: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}



.gradient-border {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.sb_center{
  overflow-x: hidden;
  /* padding-right: calc(100vw - 100%); */
}
/* .sb_center_opp{
  overflow-x: hidden;
  padding-left: calc(100vw - 100%);
} */

.bg_thatblack{
  background: #121212;
}
/* .fade-in{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; 
}  */


.fade-in-d {
  animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@media (min-width: 768px) {
  .fade-d {
    animation: fadeInAnimation 1s ease 1.5s 1 normal both;
    -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  }
}
@media (max-width: 768px) {
  .fade-m {
    animation: fadeInAnimation 0.5s ease 3s 1 normal both;
    -webkit-animation: fadeInAnimation 0.5s ease 3s 1 normal both;
  }
}

.fade-in-m {
  animation: fadeInAnimation 2s ease-in-out;
  -webkit-animation: fadeInAnimation 2s ease-in-out;
}

.full-o {
  opacity: 1;
}

.bigh{
  height: 130vh;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
@-webkit-keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.glow {
  color: rgb(0, 0, 0);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 30px #3a1025, 0 0 30px #e60073
  

}

.delay-1500 {
  transition-delay: 1800ms;
}

.testglow{
  text-shadow:1px 1px 10px rgb(162, 38, 149), 1px 1px 10px #ccc;
}
.text_red
{
  color: #fe4343;
}



.container {
  // set z-index to 1 to make sure the container is on top of the background
  z-index: -2;
}

.changebg {
  background: #080808; 
}



.blob-c {
  // background:#f0f0f2;
  // background: black;
  background: transparent;
  z-index: -1;
	filter: blur(40px);
  animation: start_color 2s ease-in-out;
  -webkit-animation: start_color 2s ease-in-out;
  -moz-animation: start_color 2s ease-in-out;
  -o-animation: start_color 2s ease-in-out;
  -ms-animation: start_color 2s ease-in-out;
/*   background: rgba(255,255,255,0.1) */
}

:root {
  /* Greyscale palette with red accent */
  --blob-1: #333333;
  --blob-2: #666666;
  --blob-3: #999999;
  --blob-4: #CCCCCC;
  --blob-5: #FF0000;
  --blob-6: #FFFFFF;
  --blob-7: #EFEFEF;
}

// create a transition that changes the filter property over 2 seconds when the page is loaded
@keyframes start {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}

// @keyframes colorTransition {
//   0% {
//     --blob-1: #1E90FF;
//     --blob-2: #00BFFF;
//     --blob-3: #3CB371;
//     --blob-4: #008B8B;
//     --blob-5: #00CED1;
//     --blob-6: #87CEEB;
//     --blob-7: #B0E0E6;
//   }
//   100% {
//     --blob-1: #333333;
//     --blob-2: #666666;
//     --blob-3: #999999;
//     --blob-4: #CCCCCC;
//     --blob-5: #FF0000;
//     --blob-6: #FFFFFF;
//     --blob-7: #EFEFEF;
//   }
// }


/* Blob Shapes */


.shape-blob.one {
  background: var(--blob-1);
  height: 150px;
  width: 200px;
  left: 10px;
  top: 40%;
  transform: rotate(-180deg);
  animation: 
    transform 8s ease-in-out infinite both alternate,
    movement_two 20s ease-in-out infinite both;
}

.shape-blob.two {
  background: var(--blob-2);
  height: 250px;
  width: 250px;
  left: 600px;
  top: 30%;
  transform: rotate(-180deg);
  animation:
    transform 10s ease-in-out infinite both alternate,
    movement_two 10s ease-in-out infinite both;
}

.shape-blob.three {
  background: var(--blob-3);
  height: 200px;
  width: 150px;
  left: 800px;
  top: 10%;
  transform: rotate(-180deg);
  animation:
    transform 7s ease-in-out infinite both alternate,
    movement_two 23s ease-in-out infinite both;
}

.shape-blob.four {
  background: var(--blob-4);
  height: 200px;
  width: 180px;
  left: 350px;
  top: 60%;
  transform: rotate(-180deg);
  animation:
    transform 17s ease-in-out infinite both alternate,
    movement_two 13s ease-in-out infinite both;
}

.shape-blob.five {
  background: var(--blob-5);
  height: 300px;
  width: 180px;
  left: 55%;
  top: 40%;
  transform: rotate(-180deg);
  animation: 
    transform 12s ease-in-out infinite both alternate,
    movement_two 18s ease-in-out infinite both;
}

.shape-blob.six {
  background: var(--blob-6);
  height: 170px;
  width: 200px;
  left: 160px;
  top: 20%;
  transform: rotate(-180deg);
  animation:
    transform 5s ease-in-out infinite both alternate,
    movement_two 5s ease-in-out infinite both;
}

.shape-blob {
  background: var(--blob-7);
  height: 300px;
  width: 150px;
  border-radius: 40% 50% 30% 40%;
  animation:
    transform 18s ease-in-out infinite both alternate,
    movement_one 12s ease-in-out infinite both;
  opacity: .7;
  position: absolute;
  left: 75%;
  top: 40%; 
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}