@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
.custom-img {
  filter: brightness(70%);
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.custom-img2 {
  /* filter: brightness(70%); */
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  z-index: 40;
  background: linear-gradient(
    to right,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82,
    #f79533
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.gradient-border {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sb_center {
  overflow-x: hidden;
  /* padding-right: calc(100vw - 100%); */
}
/* .sb_center_opp{
  overflow-x: hidden;
  padding-left: calc(100vw - 100%);
} */

.bg_thatblack {
  background: #121212;
}
/* .fade-in{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; 
}  */

.fade-in-d {
  animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@media (min-width: 768px) {
  .fade-d {
    animation: fadeInAnimation 1s ease 1.5s 1 normal both;
    -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  }
}
@media (max-width: 768px) {
  .fade-m {
    animation: fadeInAnimation 0.5s ease 3s 1 normal both;
    -webkit-animation: fadeInAnimation 0.5s ease 3s 1 normal both;
  }
}

.fade-in-m {
  animation: fadeInAnimation 2s ease-in-out;
  -webkit-animation: fadeInAnimation 2s ease-in-out;
}

.full-o {
  opacity: 1;
}

.bigh {
  height: 130vh;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glow {
  color: rgb(0, 0, 0);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 30px #3a1025, 0 0 30px #e60073;
}

.delay-1500 {
  transition-delay: 1800ms;
}

.testglow {
  text-shadow: 1px 1px 10px rgb(162, 38, 149), 1px 1px 10px #ccc;
}
.text_red {
  color: #fe4343;
}

.container {
  // set z-index to 1 to make sure the container is on top of the background
  z-index: -2;
}
.changebg {
  background: #080808;
}

.blob-c {
  // background:#f0f0f2;
  // background: black;
  background: transparent;
  z-index: -1;
  filter: blur(40px);
  animation: start 2s ease-in-out;
  -webkit-animation: start 2s ease-in-out;
  -moz-animation: start 2s ease-in-out;
  -o-animation: start 2s ease-in-out;
  -ms-animation: start 2s ease-in-out;
  /*   background: rgba(255,255,255,0.1) */
}

@keyframes start {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}

:root {
  --init_color_1: #1e90ff; /* Dodger Blue */
  --init_color_2: #4169e1; /* Royal Blue */
  --init_color_3: #6495ed; /* Cornflower Blue */
  --init_color_4: #00bfff; /* Deep Sky Blue */
  --init_color_5: #87ceeb; /* Sky Blue */
  --init_color_6: #add8e6; /* Light Blue */
  --init_color_7: #b0e0e6; /* Powder Blue */
  --end_color_1: #333333;
  --end_color_2: #666666;
  --end_color_3: #999999;
  --end_color_4: #cccccc;
  --end_color_5: #ff0000; /* Assuming you want to end at red for blob five */
  --end_color_6: #ffffff;
  --end_color_7: #efefef;
}

@keyframes blobOneColor {
  0% {
    background: var(--init_color_1);
  }
  100% {
    background: var(--end_color_1);
  }
}

@keyframes blobTwoColor {
  0% {
    background: var(--init_color_2);
  }
  100% {
    background: var(--end_color_2);
  }
}

@keyframes blobThreeColor {
  0% {
    background: var(--init_color_3);
  }
  100% {
    background: var(--end_color_3);
  }
}

@keyframes blobFourColor {
  0% {
    background: var(--init_color_4);
  }
  100% {
    background: var(--end_color_4);
  }
}

@keyframes blobFiveColor {
  0% {
    background: #87ceeb;
  }
  50% {
    background: #ff73f3;
  } /* Mid-transition color for blob five */
  100% {
    background: #ff0000; 
  }
}

@keyframes blobSixColor {
  0% {
    background: var(--init_color_6);
  }
  100% {
    background: var(--end_color_6);
  }
}

@keyframes blobSevenColor {
  0% {
    background: var(--init_color_7);
  }
  100% {
    background: var(--end_color_7);
  }
}

.shape-blob.one {
  height: 150px;
  width: 200px;
  left: 10px;
  top: 40%;
  transform: rotate(-180deg);
  animation: transform 8s ease-in-out infinite both alternate,
    movement_two 20s ease-in-out infinite both,
    blobOneColor 2s ease-in-out forwards;
    // spinY 2s ease-out forwards;
    // -webkit-animation: 8s ease-in-out infinite both alternate,
    // movement_two 20s ease-in-out infinite both,
    // blobOneColor 2s ease-in-out forwards,
    // spinY 2s ease-out forwards;
    // -moz-animation: 8s ease-in-out infinite both alternate,
    // movement_two 20s ease-in-out infinite both,
    // blobOneColor 2s ease-in-out forwards,
    // spinY 2s ease-out forwards;
    // -o-animation:8s ease-in-out infinite both alternate,
    // movement_two 20s ease-in-out infinite both,
    // blobOneColor 2s ease-in-out forwards,
    // spinY 2s ease-out forwards;
    // -ms-animation:8s ease-in-out infinite both alternate,
    // movement_two 20s ease-in-out infinite both,
    // blobOneColor 2s ease-in-out forwards,
    // spinY 2s ease-out forwards;
}

.shape-blob.two {
  height: 250px;
  width: 250px;
  left: 600px;
  top: 30%;
  transform: rotate(-180deg);
  animation: transform 10s ease-in-out infinite both alternate,
    movement_two 10s ease-in-out infinite both,
    blobTwoColor 2s ease-in-out forwards;
  //   spinY 2.5s ease-out forwards;
  //   -webkit-animation:transform 10s ease-in-out infinite both alternate,
  //   movement_two 10s ease-in-out infinite both,
  //   blobTwoColor 2s ease-in-out forwards,
  //   spinY 2.5s ease-out forwards;
  // -moz-animation: transform10s ease-in-out infinite both alternate,
  // movement_two 10s ease-in-out infinite both,
  // blobTwoColor 2s ease-in-out forwards,
  // spinY 2.5s ease-out forwards;
  // -o-animation:transform 10s ease-in-out infinite both alternate,
  // movement_two 10s ease-in-out infinite both,
  // blobTwoColor 2s ease-in-out forwards,
  // spinY 2.5s ease-out forwards;
  // -ms-animation: transform 10s ease-in-out infinite both alternate,
  // movement_two 10s ease-in-out infinite both,
  // blobTwoColor 2s ease-in-out forwards,
  // spinY 2.5s ease-out forwards;
}

.shape-blob.three {
  height: 200px;
  width: 150px;
  left: 800px;
  top: 10%;
  transform: rotate(-180deg);
  animation: transform 7s ease-in-out infinite both alternate,
    movement_two 23s ease-in-out infinite both,
    blobThreeColor 2s ease-in-out forwards;
  //   spinY 2s ease-out forwards;
  //   -webkit-animation:transform 7s ease-in-out infinite both alternate,
  //   movement_two 23s ease-in-out infinite both,
  //   blobThreeColor 2s ease-in-out forwards,
  //   spinY 2s ease-out forwards;
  // -moz-animation:transform 7s ease-in-out infinite both alternate,
  // movement_two 23s ease-in-out infinite both,
  // blobThreeColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -o-animation:transform 7s ease-in-out infinite both alternate,
  // movement_two 23s ease-in-out infinite both,
  // blobThreeColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -ms-animation:transform 7s ease-in-out infinite both alternate,
  // movement_two 23s ease-in-out infinite both,
  // blobThreeColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
}

.shape-blob.four {
  height: 200px;
  width: 180px;
  left: 350px;
  top: 60%;
  transform: rotate(-180deg);
  animation: transform 17s ease-in-out infinite both alternate,
    movement_two 13s ease-in-out infinite both,
    blobFourColor 2s ease-in-out forwards;
  //   spinY 2s ease-out forwards;
  //  -webkit-animation: transform 17s ease-in-out infinite both alternate,
  //  movement_two 13s ease-in-out infinite both,
  //  blobFourColor 2s ease-in-out forwards,
  //  spinY 2s ease-out forwards;
  // -moz-animation: transform 17s ease-in-out infinite both alternate,
  // movement_two 13s ease-in-out infinite both,
  // blobFourColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -o-animation: transform 17s ease-in-out infinite both alternate,
  // movement_two 13s ease-in-out infinite both,
  // blobFourColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -ms-animation: transform 17s ease-in-out infinite both alternate,
  // movement_two 13s ease-in-out infinite both,
  // blobFourColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
}

.shape-blob.five {
  height: 300px;
  width: 180px;
  left: 70%;
  top: 40%;
  transform: rotate(-180deg);
  animation: transform 12s ease-in-out infinite both alternate,
    movement_two 18s ease-in-out infinite both,
    blobFiveColor 2s ease-in-out forwards;
  //   spinY 3s ease-out forwards;
  //   -webkit-animation: transform 12s ease-in-out infinite both alternate,
  //   movement_two 18s ease-in-out infinite both,
  //   blobFiveColor 2s ease-in-out forwards,
  //   spinY 3s ease-out forwards;
  // -moz-animation:transform 12s ease-in-out infinite both alternate,
  // movement_two 18s ease-in-out infinite both,
  // blobFiveColor 2s ease-in-out forwards,
  // spinY 3s ease-out forwards;
  // -o-animation:transform 12s ease-in-out infinite both alternate,
  // movement_two 18s ease-in-out infinite both,
  // blobFiveColor 2s ease-in-out forwards,
  // spinY 3s ease-out forwards;
  // -ms-animation: transform 12s ease-in-out infinite both alternate,
  // movement_two 18s ease-in-out infinite both,
  // blobFiveColor 2s ease-in-out forwards,
  // spinY 3s ease-out forwards;
}
@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(540deg);
  }
}


.shape-blob.six {
  height: 170px;
  width: 200px;
  left: 160px;
  top: 20%;
  transform: rotate(-180deg);
  animation: transform 5s ease-in-out infinite both alternate,
    movement_two 5s ease-in-out infinite both,
    blobSixColor 2s ease-in-out forwards;
  //   spinY 2s ease-out forwards;
  //   -webkit-animation: transform 5s ease-in-out infinite both alternate,
  //   movement_two 5s ease-in-out infinite both,
  //   blobSixColor 2s ease-in-out forwards,
  //   spinY 2s ease-out forwards;
  // -moz-animation: transform 5s ease-in-out infinite both alternate,
  // movement_two 5s ease-in-out infinite both,
  // blobSixColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -o-animation:transform 5s ease-in-out infinite both alternate,
  // movement_two 5s ease-in-out infinite both,
  // blobSixColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
  // -ms-animation:transform 5s ease-in-out infinite both alternate,
  // movement_two 5s ease-in-out infinite both,
  // blobSixColor 2s ease-in-out forwards,
  // spinY 2s ease-out forwards;
}

.shape-blob {
  height: 300px;
  width: 150px;
  border-radius: 40% 50% 30% 40%;
  animation: transform 18s ease-in-out infinite both alternate,
    movement_one 12s ease-in-out infinite both,
    blobSevenColor 2s ease-in-out forwards;
  //   spinY 1s ease-out forwards;

  //   -webkit-animation:transform 18s ease-in-out infinite both alternate,
  //   movement_one 12s ease-in-out infinite both,
  //   blobSevenColor 2s ease-in-out forwards,
  //   spinY 1s ease-out forwards;
  // -moz-animation: transform 18s ease-in-out infinite both alternate,
  // movement_one 12s ease-in-out infinite both,
  // blobSevenColor 2s ease-in-out forwards,
  // spinY 1s ease-out forwards;`
  // -o-animation: transform 18s ease-in-out infinite both alternate,
  // movement_one 12s ease-in-out infinite both,
  // blobSevenColor 2s ease-in-out forwards,
  // spinY 1s ease-out forwards;
  // -ms-animation: transform 18s ease-in-out infinite both alternate,
  // movement_one 12s ease-in-out infinite both,
  // blobSevenColor 2s ease-in-out forwards,
  // spinY 1s ease-out forwards;

  opacity: 0.7;
  position: absolute;
  left: 55%;
  top: 40%;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1);
  }
}

@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
  }
}
